{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}

{% block body %}
    <h1>{% trans "Dashboard" %}</h1>
    
<p>Welcome to Member Desk!<br><br></p>
<p>From this central dashboard you can control every aspect of your new membership site.
You can see your members and sales; control the look of your site; create and edit pages, products, and downloads. </p>

<a href="/members/">Members</a><br>
<a href="/sales/">Sales</a><br>
<a href="/pages/">Pages</a><br>
<a href="/blogs/">Blogs</a><br>
<a href="/downloads/">Downloads</a><br>
<a href="/products/">Products</a><br>


{% endblock %}
